<h1>{{ include.title }}</h1>
{{ include.content | markdownify }}

<a href="#" onclick="storeAndNext('left')">
  <div class="block">
    <div id="left_img" class="img right"></div>
    <label id="left_title">Empty</label>
  </div>
</a>
<a href="#" onclick="storeAndNext('right')">
  <div class="block">
    <div id="right_img" class="img left"></div>
    <label id="right_title">Empty</label>
  </div>
</a>

<div id="bottombar">
  <div id="slider"></div>
</div>

<script>
  var animals = {{ include.questions | jsonify }}
  var combos = [];
  var count = 0;
  var answers = []

  function calcCombos() {
    for (var i = 0; i < animals.length; i++)
      for (var j = i + 1; j < animals.length; j++)
      {
        combos[combos.length] = [i, j, false]
      }
    // randomize combos
    combos = combos.sort(function() { return 0.5 - Math.random() })
  }

  function storeAndNext(answer) {
    var left = document.getElementById("left_title").innerHTML
    var right = document.getElementById("right_title").innerHTML

    setVal(left, right, answer)
    next()
  }

  function setContent(id, name, img, pos) {
    document.getElementById(id + "_title").innerHTML = name
    document.getElementById(id + "_img").style.backgroundImage = "url('" + img + "')";
    document.getElementById(id + "_img").style.backgroundPosition = pos;
  }

  function setVal(a, b, slider) {
    answers[answers.length] = [a, b, slider]
  }

  function next() {
    document.getElementById("slider").style.width = (count / combos.length) * 100 + "%";
    if (count < combos.length) {
      var curPair = combos[count]
      setContent("left", animals[curPair[0]].title, animals[curPair[0]].image, animals[curPair[0]].img_pos)

      setContent("right", animals[curPair[1]].title, animals[curPair[1]].image, animals[curPair[1]].img_pos)
      count++
    } else {
      nextPage()
    }
  }
</script>
