<div class="text_section">
<h1>{{ include.title }}</h1>
{{ include.content | markdownify }}

{% for q in include.questions %}
<div class="question">
<label for="{{ q.id }}">{{ q.label }}</label><br>
{% case q.type %}
{% when 'range' %}
<span class="range_min_label">{{ q.min_label }}</span>
<input type="range" class="range input_page{{ include.page }}" id="{{ q.id }}" name="{{ q.id }}" min="{{ q.min }}" max="{{ q.max }}" value="{{ q.value }}" step="{{ q.steps }}">
<span class="range_max_label">{{ q.max_label }}</span>
{% when 'text' %}
<input type="text" class="text input_page{{ include.page }}" id="{{ q.id }}" name="{{ q.id }}" value="{{ q.value }}">
{% endcase %}
</div>
{% endfor %}

{% if include.button %}
<br>
<button onclick="collectAndSendInputs({{ include.page }}); nextPage()">{{ include.button }}</button>
{% endif %}

</div>
